pipeline/df_load_and_import_softco_ap_invoice.json
{
	"name": "df_load_and_import_softco_ap_invoice",
	"properties": {
		"activities": [
			{
				"name": "Get Delivery Groups",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [delivery_group_id], [source_system], [business_unit_name], [ledger_id], [header_row_count], [line_row_count] FROM [dbo].[tbl_integration_delivery_group] WHERE [batch_id] = TRY_CONVERT(uniqueidentifier, ''', pipeline().parameters.p_batch_id, ''') AND [group_status] IN (''Ready'',''Retry Ready'') ORDER BY [delivery_group_id]')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "df_camsis_ap_invoices_raw_table_dataset",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Delivery Group",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Delivery Groups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Delivery Groups').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Mark Group Running",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('UPDATE [dbo].[tbl_integration_delivery_group] SET [group_status] = ''Running'', [started_at_utc] = SYSUTCDATETIME(), [updated_at_utc] = SYSUTCDATETIME() WHERE [delivery_group_id] = ', string(item().delivery_group_id), '; UPDATE [dbo].[tbl_integration_document_status] SET [document_status] = ''Submitting To Fusion'', [last_updated_at_utc] = SYSUTCDATETIME() WHERE [delivery_group_id] = ', string(item().delivery_group_id), ' AND [document_status] = ''Ready For Delivery'';')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "00:30:00"
							}
						},
						{
							"name": "Invoices_sql_to_csv",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Mark Group Running",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT [Invoice ID],[Business Unit],[Source],[Invoice Number],[Invoice Amount],[Invoice Date],[Supplier Name],[Supplier Number],[Supplier Site],[Invoice Currency],[Payment Currency],[Description],[Import Set],[Invoice Type],[Legal Entity],[Customer Tax Registration Number],[Customer Registration Code],[First-Party Tax Registration Number],[Supplier Tax Registration Code],[Payment Terms],[Terms Date],[Goods Received Date],[Invoice Received Date],[Accounting Date],[Payment Method],[Pay Group],[Pay Alone],[Discountable Amount],[Prepayment Number],[Prepayment Line Number],[Prepayment Application Amount],[Prepayment Accounting Date],[Invoice Includes Prepayment],[Conversion Rate Type],[Conversion Date],[Conversion Rate],[Liability Combination],[Document Category Code],[Voucher Number],[Requester First Name],[Requester Last Name],[Requester Employee Number],[Delivery Channel Code],[Bank Charge Bearer],[Remit-to Supplier],[Remit-to Supplier Number],[Remit-to Address Name],[Payment Priority],[Settlement Priority],[Unique Remittance Identifier],[Unique Remittance Identifier Check Digit],[Payment Reason Code],[Payment Reason Comments],[Remittance Message 1],[Remittance Message 2],[Remittance Message 3],[Withholding Tax Group],[Ship-to Location],[Taxation Country],[Document Sub Type],[Tax Invoice Internal Sequence Number],[Supplier Tax Invoice Number],[Tax Invoice Recording Date],[Supplier Tax Invoice Date],[Supplier Tax Invoice Conversion Rate],[Port Of Entry Code],[Correction Year],[Correction Period],[Import Document Number],[Import Document Date],[Tax Control Amount],[Calculate Tax During Import],[Add Tax To Invoice Amount],[Attribute Category],[Attribute 1],[Attribute 2],[Attribute 3],[Attribute 4],[Attribute 5],[Attribute 6],[Attribute 7],[Attribute 8],[Attribute 9],[Attribute 10],[Attribute 11],[Attribute 12],[Attribute 13],[Attribute 14],[Attribute 15],[Attribute Number 1],[Attribute Number 2],[Attribute Number 3],[Attribute Number 4],[Attribute Number 5],[Attribute Date 1],[Attribute Date 2],[Attribute Date 3],[Attribute Date 4],[Attribute Date 5],[Global Attribute Category],[Global Attribute 1],[Global Attribute 2],[Global Attribute 3],[Global Attribute 4],[Global Attribute 5],[Global Attribute 6],[Global Attribute 7],[Global Attribute 8],[Global Attribute 9],[Global Attribute 10],[Global Attribute 11],[Global Attribute 12],[Global Attribute 13],[Global Attribute 14],[Global Attribute 15],[Global Attribute 16],[Global Attribute 17],[Global Attribute 18],[Global Attribute 19],[Global Attribute 20],[Global Attribute Number 1],[Global Attribute Number 2],[Global Attribute Number 3],[Global Attribute Number 4],[Global Attribute Number 5],[Global Attribute Date 1],[Global Attribute Date 2],[Global Attribute Date 3],[Global Attribute Date 4],[Global Attribute Date 5],[URL Attachments],''END'' AS ENDROW FROM [dbo].[tbl_generic_ap_invoice_header_staging] WHERE [batchId] = TRY_CONVERT(uniqueidentifier, ''', pipeline().parameters.p_batch_id, ''') AND [delivery_group_id] = ', string(item().delivery_group_id), ' AND ISNULL([processed_bit], 0) = 0 AND [ValidationStatus] = ''Validation Success''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "df_camsis_ap_invoices_raw_table_dataset",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "*"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "df_softco_ap_invoice_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "csv",
										"file_name": {
											"value": "ApInvoicesInterface.csv",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "InvoiceLines_sql_to_csv",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Mark Group Running",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT [Invoice ID],[Line Number],[Line Type],[Amount],[Invoice Quantity],[Unit Price],[UOM],[Description],[PO Number],[PO Line Number],[PO Schedule Number],[PO Distribution Number],[Item Description],[PO Release Number],[Purchasing Category],[Receipt Number],[Receipt Line Number],[Consumption Advice Number],[Consumption Advice Line Number],[Packing Slip],[Final Match],[Distribution Combination],[Distribution Set],[Accounting Date],[Overlay Account Segment],[Overlay Primary Balancing Segment],[Overlay Cost Center Segment],[Tax Classification Code],[Ship-to Location],[Ship-from Location],[Location of Final Discharge],[Transaction Business Category],[Product Fiscal Classification],[Intended Use],[User-Defined Fiscal Classification],[Product Type],[Assessable Value],[Product Category],[Tax Control Amount],[Tax Regime Code],[Tax],[Tax Status Code],[Tax Jurisdiction Code],[Tax Rate Code],[Tax Rate],[Withholding Tax Group],[Income Tax Type],[Income Tax Region],[Prorate Across All Item Lines],[Line Group Number],[Cost Factor Name],[Statistical Quantity],[Track as Asset],[Asset Book Type Code],[Asset Category ID],[Serial Number],[Manufacturer],[Model Number],[Warranty Number],[Price Correction Line],[Price Correction Invoice Number],[Price Correction Invoice Line Number],[Requester First Name],[Requester Last Name],[Requester Employee Number],[Attribute Category],[Attribute 1],[Attribute 2],[Attribute 3],[Attribute 4],[Attribute 5],[Attribute 6],[Attribute 7],[Attribute 8],[Attribute 9],[Attribute 10],[Attribute 11],[Attribute 12],[Attribute 13],[Attribute 14],[Attribute 15],[Attribute Number 1],[Attribute Number 2],[Attribute Number 3],[Attribute Number 4],[Attribute Number 5],[Attribute Date 1],[Attribute Date 2],[Attribute Date 3],[Attribute Date 4],[Attribute Date 5],[Global Attribute Category],[Global Attribute 1],[Global Attribute 2],[Global Attribute 3],[Global Attribute 4],[Global Attribute 5],[Global Attribute 6],[Global Attribute 7],[Global Attribute 8],[Global Attribute 9],[Global Attribute 10],[Global Attribute 11],[Global Attribute 12],[Global Attribute 13],[Global Attribute 14],[Global Attribute 15],[Global Attribute 16],[Global Attribute 17],[Global Attribute 18],[Global Attribute 19],[Global Attribute 20],[Global Attribute Number 1],[Global Attribute Number 2],[Global Attribute Number 3],[Global Attribute Number 4],[Global Attribute Number 5],[Global Attribute Date 1],[Global Attribute Date 2],[Global Attribute Date 3],[Global Attribute Date 4],[Global Attribute Date 5],[Project ID],[Task ID],[Expenditure Type ID],[Expenditure Item Date],[Expenditure Organization ID],[Project Number],[Task Number],[Expenditure Type],[Expenditure Organization],[Funding Source Id],[PJC Reserved Attribute 2],[PJC Reserved Attribute 3],[PJC Reserved Attribute 4],[PJC Reserved Attribute 5],[PJC Reserved Attribute 6],[PJC Reserved Attribute 7],[PJC Reserved Attribute 8],[PJC Reserved Attribute 9],[PJC Reserved Attribute 10],[PJC User Defined Attribute 1],[PJC User Defined Attribute 2],[PJC User Defined Attribute 3],[PJC User Defined Attribute 4],[PJC User Defined Attribute 5],[PJC User Defined Attribute 6],[PJC User Defined Attribute 7],[PJC User Defined Attribute 8],[PJC User Defined Attribute 9],[PJC User Defined Attribute 10],[Fiscal Charge Type],[Multiperiod Accounting Start Date],[Multiperiod Accounting End Date],[Multiperiod Accounting Accrual Account],[Project Name],[Task Name],[Work Type],[Contract Name],[Contract Number],[Funding Source Name],[Funding Source Number],[Requester Email Address],[RCV Transaction Id],''END'' AS ENDROW FROM [dbo].[tbl_generic_ap_invoice_lines_staging] WHERE [batchId] = TRY_CONVERT(uniqueidentifier, ''', pipeline().parameters.p_batch_id, ''') AND [delivery_group_id] = ', string(item().delivery_group_id), ' AND ISNULL([processed_bit], 0) = 0 AND [ValidationStatus] = ''Validation Success''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "df_camsis_ap_invoices_raw_table_dataset",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "*"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "df_softco_ap_invoice_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "csv",
										"file_name": {
											"value": "ApInvoiceLinesInterface.csv",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "zip_both_csv",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Invoices_sql_to_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "InvoiceLines_sql_to_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.04:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "zip",
								"body": {
									"value": "@concat('{\"source_paths\":[\"softco-to-fusion/csv/ApInvoicesInterface.csv\",\"softco-to-fusion/csv/ApInvoiceLinesInterface.csv\"],\"target_path\":\"softco-to-fusion/zip/', formatDateTime(utcNow(), 'yyyyMMdd'), '/', pipeline().parameters.p_batch_id, '_', string(item().delivery_group_id), '.zip\"}')",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "uis_shared_process_function",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "base64encode",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "zip_both_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.04:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "base64Encode",
								"body": {
									"value": "@concat('{\"file_path\":\"softco-to-fusion/zip/', formatDateTime(utcNow(), 'yyyyMMdd'), '/', pipeline().parameters.p_batch_id, '_', string(item().delivery_group_id), '.zip\"}')",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "uis_shared_process_function",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "upload_to_ucm",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "base64encode",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ftp_shared_upload_to_ucm_pl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"file_name": {
										"value": "@concat(pipeline().parameters.p_batch_id, '_', string(item().delivery_group_id), '.zip')",
										"type": "Expression"
									},
									"document_account": "fin$/payables$/import$",
									"base64_content": {
										"value": "@activity('base64encode').output.data.encoded_string",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Load to Interface table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "upload_to_ucm",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ftp_shared_submit_ess_job",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"payload": {
										"value": "@concat('{\"OperationName\":\"submitESSJobRequest\",\"JobPackageName\":\"/oracle/apps/ess/financials/commonModules/shared/common/interfaceLoader\",\"JobDefName\":\"InterfaceLoaderController\",\"ESSParameters\":\"1,', string(activity('upload_to_ucm').output.pipelineReturnValue.document_id), ',N,N,Null\"}')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Validate Interface Job",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Load to Interface table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('IF LOWER(''', replace(string(activity('Load to Interface table').output.pipelineReturnValue.final_status), '''', ''''''), ''') IN (''succeeded'',''success'',''completed'') BEGIN SELECT 1; END ELSE BEGIN THROW 51000, ''Interface loader ESS job returned a non-success status.'', 1; END')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "00:30:00"
							}
						},
						{
							"name": "Load data to AP table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Validate Interface Job",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ftp_shared_submit_ess_job",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"payload": {
										"value": "@concat('{\"OperationName\":\"submitESSJobRequest\",\"JobPackageName\":\"oracle/apps/ess/financials/payables/invoices/transactions\",\"JobDefName\":\"APXIIMPT\",\"ESSParameters\":\"#NULL,#NULL,N,#NULL,#NULL,#NULL,1000,', string(item().source_system), ',#NULL,N,Y,', string(item().ledger_id), ',#NULL,1\",\"CallbackURL\":\"\"}')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Validate AP Job",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Load data to AP table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('IF LOWER(''', replace(string(activity('Load data to AP table').output.pipelineReturnValue.final_status), '''', ''''''), ''') IN (''succeeded'',''success'',''completed'') BEGIN SELECT 1; END ELSE BEGIN THROW 51001, ''AP import ESS job returned a non-success status.'', 1; END')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "00:30:00"
							}
						},
						{
							"name": "Record Group Success",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Validate AP Job",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.02:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('UPDATE [dbo].[tbl_integration_delivery_group] SET [group_status] = ''Completed'', [ucm_document_id] = ''', replace(string(activity('upload_to_ucm').output.pipelineReturnValue.document_id), '''', ''''''), ''', [ucm_file_name] = ''', replace(concat(pipeline().parameters.p_batch_id, '_', string(item().delivery_group_id), '.zip'), '''', ''''''), ''', [interface_request_id] = ''', replace(string(activity('Load to Interface table').output.pipelineReturnValue.process_id), '''', ''''''), ''', [interface_final_status] = ''', replace(string(activity('Load to Interface table').output.pipelineReturnValue.final_status), '''', ''''''), ''', [import_request_id] = ''', replace(string(activity('Load data to AP table').output.pipelineReturnValue.process_id), '''', ''''''), ''', [import_final_status] = ''', replace(string(activity('Load data to AP table').output.pipelineReturnValue.final_status), '''', ''''''), ''', [completed_at_utc] = SYSUTCDATETIME(), [updated_at_utc] = SYSUTCDATETIME() WHERE [delivery_group_id] = ', string(item().delivery_group_id), '; INSERT INTO [dbo].[tbl_integration_ess_request] ([batch_id],[delivery_group_id],[request_stage],[request_id],[job_definition_name],[ledger_id],[request_status],[response_payload],[created_at_utc],[updated_at_utc]) VALUES (TRY_CONVERT(uniqueidentifier, ''', pipeline().parameters.p_batch_id, '''), ', string(item().delivery_group_id), ', ''InterfaceLoader'', ''', replace(string(activity('Load to Interface table').output.pipelineReturnValue.process_id), '''', ''''''), ''', ''InterfaceLoaderController'', ', string(item().ledger_id), ', ''', replace(string(activity('Load to Interface table').output.pipelineReturnValue.final_status), '''', ''''''), ''', ''', replace(string(activity('Load to Interface table').output.pipelineReturnValue), '''', ''''''), ''', SYSUTCDATETIME(), SYSUTCDATETIME()); INSERT INTO [dbo].[tbl_integration_ess_request] ([batch_id],[delivery_group_id],[request_stage],[request_id],[job_definition_name],[ledger_id],[request_status],[response_payload],[created_at_utc],[updated_at_utc]) VALUES (TRY_CONVERT(uniqueidentifier, ''', pipeline().parameters.p_batch_id, '''), ', string(item().delivery_group_id), ', ''APImport'', ''', replace(string(activity('Load data to AP table').output.pipelineReturnValue.process_id), '''', ''''''), ''', ''APXIIMPT'', ', string(item().ledger_id), ', ''', replace(string(activity('Load data to AP table').output.pipelineReturnValue.final_status), '''', ''''''), ''', ''', replace(string(activity('Load data to AP table').output.pipelineReturnValue), '''', ''''''), ''', SYSUTCDATETIME(), SYSUTCDATETIME()); UPDATE [dbo].[tbl_generic_ap_invoice_lines_staging] SET [processed_bit] = 1, [processed_at] = SYSUTCDATETIME(), [invoice_status] = ''Imported To AP'' WHERE [delivery_group_id] = ', string(item().delivery_group_id), ' AND ISNULL([processed_bit], 0) = 0 AND [ValidationStatus] = ''Validation Success''; UPDATE [dbo].[tbl_generic_ap_invoice_header_staging] SET [processed_bit] = 1, [processed_at] = SYSUTCDATETIME(), [invoice_status] = ''Imported To AP'' WHERE [delivery_group_id] = ', string(item().delivery_group_id), ' AND ISNULL([processed_bit], 0) = 0 AND [ValidationStatus] = ''Validation Success''; UPDATE [dbo].[tbl_integration_document_status] SET [delivery_group_id] = ', string(item().delivery_group_id), ', [ledger_id] = ', string(item().ledger_id), ', [interface_request_id] = ''', replace(string(activity('Load to Interface table').output.pipelineReturnValue.process_id), '''', ''''''), ''', [import_request_id] = ''', replace(string(activity('Load data to AP table').output.pipelineReturnValue.process_id), '''', ''''''), ''', [document_status] = ''Imported To AP'', [status_message] = ''Delivered to Fusion AP import successfully.'', [last_updated_at_utc] = SYSUTCDATETIME() WHERE [delivery_group_id] = ', string(item().delivery_group_id), ';')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "01:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "String"
			},
			"p_source_system": {
				"type": "String",
				"defaultValue": "SoftCo"
			},
			"p_entity_name": {
				"type": "String",
				"defaultValue": "AP Invoice"
			}
		},
		"folder": {
			"name": "df_softco_to_fusion_ap_invoice_inbound_integration (IN-04)/stage 2 - to be triggered every X hours"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-27T18:37:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}