pipeline/df_load_and_import_softco_ap_invoices.json
{
	"name": "df_load_and_import_softco_ap_invoices",
	"properties": {
		"activities": [
			{
				"name": "Check Invoices Rows",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "uis_df_sql_linked_service",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT COUNT(*) AS INVOICE_COUNT FROM [dbo].[tb_generic_ap_invoice_header_staging]\nWHERE processed_bit is NULL or Processed_bit = 0"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Check Invoice Lines Rows",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "uis_df_sql_linked_service",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT COUNT(*) AS LINE_COUNT FROM [dbo].[tb_generic_ap_invoice_lines_staging]\nWHERE processed_bit is NULL or Processed_bit = 0"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  greater(\n    int(activity('Check Invoices Rows').output.resultSets[0].rows[0].INVOICE_COUNT),\n    0\n  ),\n  greater(\n    int(activity('Check Invoice Lines Rows').output.resultSets[0].rows[0].LINE_COUNT),\n    0\n   )\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Nothing to Process - End Pipeline",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Invoices_sql_to_csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT [Invoice ID]\n      ,[Business Unit]\n      ,[Source]\n      ,[Invoice Number]\n      ,[Invoice Amount]\n      ,[Invoice Date]\n      ,[Supplier Name]\n      ,[Supplier Number]\n      ,[Supplier Site]\n      ,[Invoice Currency]\n      ,[Payment Currency]\n      ,[Description]\n      ,[Import Set]\n      ,[Invoice Type]\n      ,[Legal Entity]\n      ,[Customer Tax Registration Number]\n      ,[Customer Registration Code]\n      ,[First-Party Tax Registration Number]\n      ,[Supplier Tax Registration Code]\n      ,[Payment Terms]\n      ,[Terms Date]\n      ,[Goods Received Date]\n      ,[Invoice Received Date]\n      ,[Accounting Date]\n      ,[Payment Method]\n      ,[Pay Group]\n      ,[Pay Alone]\n      ,[Discountable Amount]\n      ,[Prepayment Number]\n      ,[Prepayment Line Number]\n      ,[Prepayment Application Amount]\n      ,[Prepayment Accounting Date]\n      ,[Invoice Includes Prepayment]\n      ,[Conversion Rate Type]\n      ,[Conversion Date]\n      ,[Conversion Rate]\n      ,[Liability Combination]\n      ,[Document Category Code]\n      ,[Voucher Number]\n      ,[Requester First Name]\n      ,[Requester Last Name]\n      ,[Requester Employee Number]\n      ,[Delivery Channel Code]\n      ,[Bank Charge Bearer]\n      ,[Remit-to Supplier]\n      ,[Remit-to Supplier Number]\n      ,[Remit-to Address Name]\n      ,[Payment Priority]\n      ,[Settlement Priority]\n      ,[Unique Remittance Identifier]\n      ,[Unique Remittance Identifier Check Digit]\n      ,[Payment Reason Code]\n      ,[Payment Reason Comments]\n      ,[Remittance Message 1]\n      ,[Remittance Message 2]\n      ,[Remittance Message 3]\n      ,[Withholding Tax Group]\n      ,[Ship-to Location]\n      ,[Taxation Country]\n      ,[Document Sub Type]\n      ,[Tax Invoice Internal Sequence Number]\n      ,[Supplier Tax Invoice Number]\n      ,[Tax Invoice Recording Date]\n      ,[Supplier Tax Invoice Date]\n      ,[Supplier Tax Invoice Conversion Rate]\n      ,[Port Of Entry Code]\n      ,[Correction Year]\n      ,[Correction Period]\n      ,[Import Document Number]\n      ,[Import Document Date]\n      ,[Tax Control Amount]\n      ,[Calculate Tax During Import]\n      ,[Add Tax To Invoice Amount]\n      ,[Attribute Category]\n      ,[Attribute 1]\n      ,[Attribute 2]\n      ,[Attribute 3]\n      ,[Attribute 4]\n      ,[Attribute 5]\n      ,[Attribute 6]\n      ,[Attribute 7]\n      ,[Attribute 8]\n      ,[Attribute 9]\n      ,[Attribute 10]\n      ,[Attribute 11]\n      ,[Attribute 12]\n      ,[Attribute 13]\n      ,[Attribute 14]\n      ,[Attribute 15]\n      ,[Attribute Number 1]\n      ,[Attribute Number 2]\n      ,[Attribute Number 3]\n      ,[Attribute Number 4]\n      ,[Attribute Number 5]\n      ,[Attribute Date 1]\n      ,[Attribute Date 2]\n      ,[Attribute Date 3]\n      ,[Attribute Date 4]\n      ,[Attribute Date 5]\n      ,[Global Attribute Category]\n      ,[Global Attribute 1]\n      ,[Global Attribute 2]\n      ,[Global Attribute 3]\n      ,[Global Attribute 4]\n      ,[Global Attribute 5]\n      ,[Global Attribute 6]\n      ,[Global Attribute 7]\n      ,[Global Attribute 8]\n      ,[Global Attribute 9]\n      ,[Global Attribute 10]\n      ,[Global Attribute 11]\n      ,[Global Attribute 12]\n      ,[Global Attribute 13]\n      ,[Global Attribute 14]\n      ,[Global Attribute 15]\n      ,[Global Attribute 16]\n      ,[Global Attribute 17]\n      ,[Global Attribute 18]\n      ,[Global Attribute 19]\n      ,[Global Attribute 20]\n      ,[Global Attribute Number 1]\n      ,[Global Attribute Number 2]\n      ,[Global Attribute Number 3]\n      ,[Global Attribute Number 4]\n      ,[Global Attribute Number 5]\n      ,[Global Attribute Date 1]\n      ,[Global Attribute Date 2]\n      ,[Global Attribute Date 3]\n      ,[Global Attribute Date 4]\n      ,[Global Attribute Date 5]\n      ,[URL Attachments]\n    --   ,[Remit-to Bank Account Number]\n    --   ,[Supplier IBAN]\n    --   ,[Requester Email Address]\n    --   ,[Intercompany CrossCharge Flag]\n    --   ,[Remit-to Digital Account]\n    --   ,[MetadataUniqueIdentifies]\n    --   ,[ValidationStatus]\n    --   ,[Processed_bit]\n    --   ,[processed_at]\n    --   ,[validation_reason]\n    --   ,[batchId]\n,'END' AS ENDROW\n  FROM [dbo].[tb_generic_ap_invoice_header_staging]\n  WHERE processed_bit is NULL or Processed_bit = 0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Invoice ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"name": "Business Unit",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"name": "Source",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"name": "Invoice Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"name": "Invoice Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"name": "Invoice Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										},
										{
											"source": {
												"name": "Supplier Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 7
											}
										},
										{
											"source": {
												"name": "Supplier Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 8
											}
										},
										{
											"source": {
												"name": "Supplier Site",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 9
											}
										},
										{
											"source": {
												"name": "Invoice Currency",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 10
											}
										},
										{
											"source": {
												"name": "Payment Currency",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 11
											}
										},
										{
											"source": {
												"name": "Description",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 12
											}
										},
										{
											"source": {
												"name": "Import Set",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 13
											}
										},
										{
											"source": {
												"name": "Invoice Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 14
											}
										},
										{
											"source": {
												"name": "Legal Entity",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 15
											}
										},
										{
											"source": {
												"name": "Customer Tax Registration Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 16
											}
										},
										{
											"source": {
												"name": "Customer Registration Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 17
											}
										},
										{
											"source": {
												"name": "First-Party Tax Registration Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 18
											}
										},
										{
											"source": {
												"name": "Supplier Tax Registration Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 19
											}
										},
										{
											"source": {
												"name": "Payment Terms",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 20
											}
										},
										{
											"source": {
												"name": "Terms Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 21
											}
										},
										{
											"source": {
												"name": "Goods Received Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 22
											}
										},
										{
											"source": {
												"name": "Invoice Received Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 23
											}
										},
										{
											"source": {
												"name": "Accounting Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 24
											}
										},
										{
											"source": {
												"name": "Payment Method",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 25
											}
										},
										{
											"source": {
												"name": "Pay Group",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 26
											}
										},
										{
											"source": {
												"name": "Pay Alone",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 27
											}
										},
										{
											"source": {
												"name": "Discountable Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 28
											}
										},
										{
											"source": {
												"name": "Prepayment Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 29
											}
										},
										{
											"source": {
												"name": "Prepayment Line Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 30
											}
										},
										{
											"source": {
												"name": "Prepayment Application Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 31
											}
										},
										{
											"source": {
												"name": "Prepayment Accounting Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 32
											}
										},
										{
											"source": {
												"name": "Invoice Includes Prepayment",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 33
											}
										},
										{
											"source": {
												"name": "Conversion Rate Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 34
											}
										},
										{
											"source": {
												"name": "Conversion Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 35
											}
										},
										{
											"source": {
												"name": "Conversion Rate",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 36
											}
										},
										{
											"source": {
												"name": "Liability Combination",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 37
											}
										},
										{
											"source": {
												"name": "Document Category Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 38
											}
										},
										{
											"source": {
												"name": "Voucher Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 39
											}
										},
										{
											"source": {
												"name": "Requester First Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 40
											}
										},
										{
											"source": {
												"name": "Requester Last Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 41
											}
										},
										{
											"source": {
												"name": "Requester Employee Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 42
											}
										},
										{
											"source": {
												"name": "Delivery Channel Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 43
											}
										},
										{
											"source": {
												"name": "Bank Charge Bearer",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 44
											}
										},
										{
											"source": {
												"name": "Remit-to Supplier",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 45
											}
										},
										{
											"source": {
												"name": "Remit-to Supplier Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 46
											}
										},
										{
											"source": {
												"name": "Remit-to Address Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 47
											}
										},
										{
											"source": {
												"name": "Payment Priority",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 48
											}
										},
										{
											"source": {
												"name": "Settlement Priority",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 49
											}
										},
										{
											"source": {
												"name": "Unique Remittance Identifier",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 50
											}
										},
										{
											"source": {
												"name": "Unique Remittance Identifier Check Digit",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 51
											}
										},
										{
											"source": {
												"name": "Payment Reason Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 52
											}
										},
										{
											"source": {
												"name": "Payment Reason Comments",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 53
											}
										},
										{
											"source": {
												"name": "Remittance Message 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 54
											}
										},
										{
											"source": {
												"name": "Remittance Message 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 55
											}
										},
										{
											"source": {
												"name": "Remittance Message 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 56
											}
										},
										{
											"source": {
												"name": "Withholding Tax Group",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 57
											}
										},
										{
											"source": {
												"name": "Ship-to Location",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 58
											}
										},
										{
											"source": {
												"name": "Taxation Country",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 59
											}
										},
										{
											"source": {
												"name": "Document Sub Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 60
											}
										},
										{
											"source": {
												"name": "Tax Invoice Internal Sequence Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 61
											}
										},
										{
											"source": {
												"name": "Supplier Tax Invoice Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 62
											}
										},
										{
											"source": {
												"name": "Tax Invoice Recording Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 63
											}
										},
										{
											"source": {
												"name": "Supplier Tax Invoice Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 64
											}
										},
										{
											"source": {
												"name": "Supplier Tax Invoice Conversion Rate",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 65
											}
										},
										{
											"source": {
												"name": "Port Of Entry Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 66
											}
										},
										{
											"source": {
												"name": "Correction Year",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 67
											}
										},
										{
											"source": {
												"name": "Correction Period",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 68
											}
										},
										{
											"source": {
												"name": "Import Document Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 69
											}
										},
										{
											"source": {
												"name": "Import Document Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 70
											}
										},
										{
											"source": {
												"name": "Tax Control Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 71
											}
										},
										{
											"source": {
												"name": "Calculate Tax During Import",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 72
											}
										},
										{
											"source": {
												"name": "Add Tax To Invoice Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 73
											}
										},
										{
											"source": {
												"name": "Attribute Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 74
											}
										},
										{
											"source": {
												"name": "Attribute 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 75
											}
										},
										{
											"source": {
												"name": "Attribute 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 76
											}
										},
										{
											"source": {
												"name": "Attribute 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 77
											}
										},
										{
											"source": {
												"name": "Attribute 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 78
											}
										},
										{
											"source": {
												"name": "Attribute 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 79
											}
										},
										{
											"source": {
												"name": "Attribute 6",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 80
											}
										},
										{
											"source": {
												"name": "Attribute 7",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 81
											}
										},
										{
											"source": {
												"name": "Attribute 8",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 82
											}
										},
										{
											"source": {
												"name": "Attribute 9",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 83
											}
										},
										{
											"source": {
												"name": "Attribute 10",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 84
											}
										},
										{
											"source": {
												"name": "Attribute 11",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 85
											}
										},
										{
											"source": {
												"name": "Attribute 12",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 86
											}
										},
										{
											"source": {
												"name": "Attribute 13",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 87
											}
										},
										{
											"source": {
												"name": "Attribute 14",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 88
											}
										},
										{
											"source": {
												"name": "Attribute 15",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 89
											}
										},
										{
											"source": {
												"name": "Attribute Number 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 90
											}
										},
										{
											"source": {
												"name": "Attribute Number 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 91
											}
										},
										{
											"source": {
												"name": "Attribute Number 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 92
											}
										},
										{
											"source": {
												"name": "Attribute Number 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 93
											}
										},
										{
											"source": {
												"name": "Attribute Number 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 94
											}
										},
										{
											"source": {
												"name": "Attribute Date 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 95
											}
										},
										{
											"source": {
												"name": "Attribute Date 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 96
											}
										},
										{
											"source": {
												"name": "Attribute Date 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 97
											}
										},
										{
											"source": {
												"name": "Attribute Date 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 98
											}
										},
										{
											"source": {
												"name": "Attribute Date 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 99
											}
										},
										{
											"source": {
												"name": "Global Attribute Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 100
											}
										},
										{
											"source": {
												"name": "Global Attribute 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 101
											}
										},
										{
											"source": {
												"name": "Global Attribute 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 102
											}
										},
										{
											"source": {
												"name": "Global Attribute 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 103
											}
										},
										{
											"source": {
												"name": "Global Attribute 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 104
											}
										},
										{
											"source": {
												"name": "Global Attribute 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 105
											}
										},
										{
											"source": {
												"name": "Global Attribute 6",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 106
											}
										},
										{
											"source": {
												"name": "Global Attribute 7",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 107
											}
										},
										{
											"source": {
												"name": "Global Attribute 8",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 108
											}
										},
										{
											"source": {
												"name": "Global Attribute 9",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 109
											}
										},
										{
											"source": {
												"name": "Global Attribute 10",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 110
											}
										},
										{
											"source": {
												"name": "Global Attribute 11",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 111
											}
										},
										{
											"source": {
												"name": "Global Attribute 12",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 112
											}
										},
										{
											"source": {
												"name": "Global Attribute 13",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 113
											}
										},
										{
											"source": {
												"name": "Global Attribute 14",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 114
											}
										},
										{
											"source": {
												"name": "Global Attribute 15",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 115
											}
										},
										{
											"source": {
												"name": "Global Attribute 16",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 116
											}
										},
										{
											"source": {
												"name": "Global Attribute 17",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 117
											}
										},
										{
											"source": {
												"name": "Global Attribute 18",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 118
											}
										},
										{
											"source": {
												"name": "Global Attribute 19",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 119
											}
										},
										{
											"source": {
												"name": "Global Attribute 20",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 120
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 121
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 122
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 123
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 124
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 125
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 126
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 127
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 128
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 129
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 130
											}
										},
										{
											"source": {
												"name": "URL Attachments",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 131
											}
										},
										{
											"source": {
												"name": "ENDROW",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 132
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "df_camsis_ap_invoices_raw_table_dataset",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "*"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "df_softco_ap_invoice_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "csv",
										"file_name": "ApInvoicesInterface.csv"
									}
								}
							]
						},
						{
							"name": "InvoiceLines_sql_to_csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT [Invoice ID]\n      ,[Line Number]\n      ,[Line Type]\n      ,[Amount]\n      ,[Invoice Quantity]\n      ,[Unit Price]\n      ,[UOM]\n      ,[Description]\n      ,[PO Number]\n      ,[PO Line Number]\n      ,[PO Schedule Number]\n      ,[PO Distribution Number]\n      ,[Item Description]\n      ,[PO Release Number]\n      ,[Purchasing Category]\n      ,[Receipt Number]\n      ,[Receipt Line Number]\n      ,[Consumption Advice Number]\n      ,[Consumption Advice Line Number]\n      ,[Packing Slip]\n      ,[Final Match]\n      ,[Distribution Combination]\n      ,[Distribution Set]\n      ,[Accounting Date]\n      ,[Overlay Account Segment]\n      ,[Overlay Primary Balancing Segment]\n      ,[Overlay Cost Center Segment]\n      ,[Tax Classification Code]\n      ,[Ship-to Location]\n      ,[Ship-from Location]\n      ,[Location of Final Discharge]\n      ,[Transaction Business Category]\n      ,[Product Fiscal Classification]\n      ,[Intended Use]\n      ,[User-Defined Fiscal Classification]\n      ,[Product Type]\n      ,[Assessable Value]\n      ,[Product Category]\n      ,[Tax Control Amount]\n      ,[Tax Regime Code]\n      ,[Tax]\n      ,[Tax Status Code]\n      ,[Tax Jurisdiction Code]\n      ,[Tax Rate Code]\n      ,[Tax Rate]\n      ,[Withholding Tax Group]\n      ,[Income Tax Type]\n      ,[Income Tax Region]\n      ,[Prorate Across All Item Lines]\n      ,[Line Group Number]\n      ,[Cost Factor Name]\n      ,[Statistical Quantity]\n      ,[Track as Asset]\n      ,[Asset Book Type Code]\n      ,[Asset Category ID]\n      ,[Serial Number]\n      ,[Manufacturer]\n      ,[Model Number]\n      ,[Warranty Number]\n      ,[Price Correction Line]\n      ,[Price Correction Invoice Number]\n      ,[Price Correction Invoice Line Number]\n      ,[Requester First Name]\n      ,[Requester Last Name]\n      ,[Requester Employee Number]\n      ,[Attribute Category]\n      ,[Attribute 1]\n      ,[Attribute 2]\n      ,[Attribute 3]\n      ,[Attribute 4]\n      ,[Attribute 5]\n      ,[Attribute 6]\n      ,[Attribute 7]\n      ,[Attribute 8]\n      ,[Attribute 9]\n      ,[Attribute 10]\n      ,[Attribute 11]\n      ,[Attribute 12]\n      ,[Attribute 13]\n      ,[Attribute 14]\n      ,[Attribute 15]\n      ,[Attribute Number 1]\n      ,[Attribute Number 2]\n      ,[Attribute Number 3]\n      ,[Attribute Number 4]\n      ,[Attribute Number 5]\n      ,[Attribute Date 1]\n      ,[Attribute Date 2]\n      ,[Attribute Date 3]\n      ,[Attribute Date 4]\n      ,[Attribute Date 5]\n      ,[Global Attribute Category]\n      ,[Global Attribute 1]\n      ,[Global Attribute 2]\n      ,[Global Attribute 3]\n      ,[Global Attribute 4]\n      ,[Global Attribute 5]\n      ,[Global Attribute 6]\n      ,[Global Attribute 7]\n      ,[Global Attribute 8]\n      ,[Global Attribute 9]\n      ,[Global Attribute 10]\n      ,[Global Attribute 11]\n      ,[Global Attribute 12]\n      ,[Global Attribute 13]\n      ,[Global Attribute 14]\n      ,[Global Attribute 15]\n      ,[Global Attribute 16]\n      ,[Global Attribute 17]\n      ,[Global Attribute 18]\n      ,[Global Attribute 19]\n      ,[Global Attribute 20]\n      ,[Global Attribute Number 1]\n      ,[Global Attribute Number 2]\n      ,[Global Attribute Number 3]\n      ,[Global Attribute Number 4]\n      ,[Global Attribute Number 5]\n      ,[Global Attribute Date 1]\n      ,[Global Attribute Date 2]\n      ,[Global Attribute Date 3]\n      ,[Global Attribute Date 4]\n      ,[Global Attribute Date 5]\n      ,[Project ID]\n      ,[Task ID]\n      ,[Expenditure Type ID]\n      ,[Expenditure Item Date]\n      ,[Expenditure Organization ID]\n      ,[Project Number]\n      ,[Task Number]\n      ,[Expenditure Type]\n      ,[Expenditure Organization]\n      ,[Funding Source Id]\n      ,[PJC Reserved Attribute 2]\n      ,[PJC Reserved Attribute 3]\n      ,[PJC Reserved Attribute 4]\n      ,[PJC Reserved Attribute 5]\n      ,[PJC Reserved Attribute 6]\n      ,[PJC Reserved Attribute 7]\n      ,[PJC Reserved Attribute 8]\n      ,[PJC Reserved Attribute 9]\n      ,[PJC Reserved Attribute 10]\n      ,[PJC User Defined Attribute 1]\n      ,[PJC User Defined Attribute 2]\n      ,[PJC User Defined Attribute 3]\n      ,[PJC User Defined Attribute 4]\n      ,[PJC User Defined Attribute 5]\n      ,[PJC User Defined Attribute 6]\n      ,[PJC User Defined Attribute 7]\n      ,[PJC User Defined Attribute 8]\n      ,[PJC User Defined Attribute 9]\n      ,[PJC User Defined Attribute 10]\n      ,[Fiscal Charge Type]\n      ,[Multiperiod Accounting Start Date]\n      ,[Multiperiod Accounting End Date]\n      ,[Multiperiod Accounting Accrual Account]\n      ,[Project Name]\n      ,[Task Name]\n      ,[Work Type]\n      ,[Contract Name]\n      ,[Contract Number]\n      ,[Funding Source Name]\n      ,[Funding Source Number]\n      ,[Requester Email Address]\n      ,[RCV Transaction Id]\n    --   ,[MetadataUniqueIdentifies]\n    --   ,[ValidationStatus]\n    --   ,[Processed_bit]\n    --   ,[processed_at]\n    --   ,[validation_reason]\n    --   ,[batcId]\n,'END' AS ENDROW\n  FROM [dbo].[tb_generic_ap_invoice_lines_staging]\n  WHERE processed_bit is NULL or Processed_bit = 0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Invoice ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"name": "Line Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"name": "Line Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"name": "Invoice Quantity",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"name": "Unit Price",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										},
										{
											"source": {
												"name": "UOM",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 7
											}
										},
										{
											"source": {
												"name": "Description",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 8
											}
										},
										{
											"source": {
												"name": "PO Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 9
											}
										},
										{
											"source": {
												"name": "PO Line Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 10
											}
										},
										{
											"source": {
												"name": "PO Schedule Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 11
											}
										},
										{
											"source": {
												"name": "PO Distribution Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 12
											}
										},
										{
											"source": {
												"name": "Item Description",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 13
											}
										},
										{
											"source": {
												"name": "PO Release Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 14
											}
										},
										{
											"source": {
												"name": "Purchasing Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 15
											}
										},
										{
											"source": {
												"name": "Receipt Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 16
											}
										},
										{
											"source": {
												"name": "Receipt Line Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 17
											}
										},
										{
											"source": {
												"name": "Consumption Advice Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 18
											}
										},
										{
											"source": {
												"name": "Consumption Advice Line Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 19
											}
										},
										{
											"source": {
												"name": "Packing Slip",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 20
											}
										},
										{
											"source": {
												"name": "Final Match",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 21
											}
										},
										{
											"source": {
												"name": "Distribution Combination",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 22
											}
										},
										{
											"source": {
												"name": "Distribution Set",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 23
											}
										},
										{
											"source": {
												"name": "Accounting Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 24
											}
										},
										{
											"source": {
												"name": "Overlay Account Segment",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 25
											}
										},
										{
											"source": {
												"name": "Overlay Primary Balancing Segment",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 26
											}
										},
										{
											"source": {
												"name": "Overlay Cost Center Segment",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 27
											}
										},
										{
											"source": {
												"name": "Tax Classification Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 28
											}
										},
										{
											"source": {
												"name": "Ship-to Location",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 29
											}
										},
										{
											"source": {
												"name": "Ship-from Location",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 30
											}
										},
										{
											"source": {
												"name": "Location of Final Discharge",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 31
											}
										},
										{
											"source": {
												"name": "Transaction Business Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 32
											}
										},
										{
											"source": {
												"name": "Product Fiscal Classification",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 33
											}
										},
										{
											"source": {
												"name": "Intended Use",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 34
											}
										},
										{
											"source": {
												"name": "User-Defined Fiscal Classification",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 35
											}
										},
										{
											"source": {
												"name": "Product Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 36
											}
										},
										{
											"source": {
												"name": "Assessable Value",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 37
											}
										},
										{
											"source": {
												"name": "Product Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 38
											}
										},
										{
											"source": {
												"name": "Tax Control Amount",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 39
											}
										},
										{
											"source": {
												"name": "Tax Regime Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 40
											}
										},
										{
											"source": {
												"name": "Tax",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 41
											}
										},
										{
											"source": {
												"name": "Tax Status Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 42
											}
										},
										{
											"source": {
												"name": "Tax Jurisdiction Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 43
											}
										},
										{
											"source": {
												"name": "Tax Rate Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 44
											}
										},
										{
											"source": {
												"name": "Tax Rate",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 45
											}
										},
										{
											"source": {
												"name": "Withholding Tax Group",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 46
											}
										},
										{
											"source": {
												"name": "Income Tax Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 47
											}
										},
										{
											"source": {
												"name": "Income Tax Region",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 48
											}
										},
										{
											"source": {
												"name": "Prorate Across All Item Lines",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 49
											}
										},
										{
											"source": {
												"name": "Line Group Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 50
											}
										},
										{
											"source": {
												"name": "Cost Factor Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 51
											}
										},
										{
											"source": {
												"name": "Statistical Quantity",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 52
											}
										},
										{
											"source": {
												"name": "Track as Asset",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 53
											}
										},
										{
											"source": {
												"name": "Asset Book Type Code",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 54
											}
										},
										{
											"source": {
												"name": "Asset Category ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 55
											}
										},
										{
											"source": {
												"name": "Serial Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 56
											}
										},
										{
											"source": {
												"name": "Manufacturer",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 57
											}
										},
										{
											"source": {
												"name": "Model Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 58
											}
										},
										{
											"source": {
												"name": "Warranty Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 59
											}
										},
										{
											"source": {
												"name": "Price Correction Line",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 60
											}
										},
										{
											"source": {
												"name": "Price Correction Invoice Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 61
											}
										},
										{
											"source": {
												"name": "Price Correction Invoice Line Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 62
											}
										},
										{
											"source": {
												"name": "Requester First Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 63
											}
										},
										{
											"source": {
												"name": "Requester Last Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 64
											}
										},
										{
											"source": {
												"name": "Requester Employee Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 65
											}
										},
										{
											"source": {
												"name": "Attribute Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 66
											}
										},
										{
											"source": {
												"name": "Attribute 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 67
											}
										},
										{
											"source": {
												"name": "Attribute 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 68
											}
										},
										{
											"source": {
												"name": "Attribute 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 69
											}
										},
										{
											"source": {
												"name": "Attribute 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 70
											}
										},
										{
											"source": {
												"name": "Attribute 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 71
											}
										},
										{
											"source": {
												"name": "Attribute 6",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 72
											}
										},
										{
											"source": {
												"name": "Attribute 7",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 73
											}
										},
										{
											"source": {
												"name": "Attribute 8",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 74
											}
										},
										{
											"source": {
												"name": "Attribute 9",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 75
											}
										},
										{
											"source": {
												"name": "Attribute 10",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 76
											}
										},
										{
											"source": {
												"name": "Attribute 11",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 77
											}
										},
										{
											"source": {
												"name": "Attribute 12",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 78
											}
										},
										{
											"source": {
												"name": "Attribute 13",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 79
											}
										},
										{
											"source": {
												"name": "Attribute 14",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 80
											}
										},
										{
											"source": {
												"name": "Attribute 15",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 81
											}
										},
										{
											"source": {
												"name": "Attribute Number 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 82
											}
										},
										{
											"source": {
												"name": "Attribute Number 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 83
											}
										},
										{
											"source": {
												"name": "Attribute Number 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 84
											}
										},
										{
											"source": {
												"name": "Attribute Number 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 85
											}
										},
										{
											"source": {
												"name": "Attribute Number 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 86
											}
										},
										{
											"source": {
												"name": "Attribute Date 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 87
											}
										},
										{
											"source": {
												"name": "Attribute Date 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 88
											}
										},
										{
											"source": {
												"name": "Attribute Date 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 89
											}
										},
										{
											"source": {
												"name": "Attribute Date 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 90
											}
										},
										{
											"source": {
												"name": "Attribute Date 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 91
											}
										},
										{
											"source": {
												"name": "Global Attribute Category",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 92
											}
										},
										{
											"source": {
												"name": "Global Attribute 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 93
											}
										},
										{
											"source": {
												"name": "Global Attribute 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 94
											}
										},
										{
											"source": {
												"name": "Global Attribute 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 95
											}
										},
										{
											"source": {
												"name": "Global Attribute 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 96
											}
										},
										{
											"source": {
												"name": "Global Attribute 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 97
											}
										},
										{
											"source": {
												"name": "Global Attribute 6",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 98
											}
										},
										{
											"source": {
												"name": "Global Attribute 7",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 99
											}
										},
										{
											"source": {
												"name": "Global Attribute 8",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 100
											}
										},
										{
											"source": {
												"name": "Global Attribute 9",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 101
											}
										},
										{
											"source": {
												"name": "Global Attribute 10",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 102
											}
										},
										{
											"source": {
												"name": "Global Attribute 11",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 103
											}
										},
										{
											"source": {
												"name": "Global Attribute 12",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 104
											}
										},
										{
											"source": {
												"name": "Global Attribute 13",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 105
											}
										},
										{
											"source": {
												"name": "Global Attribute 14",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 106
											}
										},
										{
											"source": {
												"name": "Global Attribute 15",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 107
											}
										},
										{
											"source": {
												"name": "Global Attribute 16",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 108
											}
										},
										{
											"source": {
												"name": "Global Attribute 17",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 109
											}
										},
										{
											"source": {
												"name": "Global Attribute 18",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 110
											}
										},
										{
											"source": {
												"name": "Global Attribute 19",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 111
											}
										},
										{
											"source": {
												"name": "Global Attribute 20",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 112
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 113
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 114
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 115
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 116
											}
										},
										{
											"source": {
												"name": "Global Attribute Number 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 117
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 118
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 119
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 120
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 121
											}
										},
										{
											"source": {
												"name": "Global Attribute Date 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 122
											}
										},
										{
											"source": {
												"name": "Project ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 123
											}
										},
										{
											"source": {
												"name": "Task ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 124
											}
										},
										{
											"source": {
												"name": "Expenditure Type ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 125
											}
										},
										{
											"source": {
												"name": "Expenditure Item Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 126
											}
										},
										{
											"source": {
												"name": "Expenditure Organization ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 127
											}
										},
										{
											"source": {
												"name": "Project Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 128
											}
										},
										{
											"source": {
												"name": "Task Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 129
											}
										},
										{
											"source": {
												"name": "Expenditure Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 130
											}
										},
										{
											"source": {
												"name": "Expenditure Organization",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 131
											}
										},
										{
											"source": {
												"name": "Funding Source Id",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 132
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 133
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 134
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 135
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 136
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 6",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 137
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 7",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 138
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 8",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 139
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 9",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 140
											}
										},
										{
											"source": {
												"name": "PJC Reserved Attribute 10",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 141
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 142
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 143
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 3",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 144
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 4",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 145
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 5",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 146
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 6",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 147
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 7",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 148
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 8",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 149
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 9",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 150
											}
										},
										{
											"source": {
												"name": "PJC User Defined Attribute 10",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 151
											}
										},
										{
											"source": {
												"name": "Fiscal Charge Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 152
											}
										},
										{
											"source": {
												"name": "Multiperiod Accounting Start Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 153
											}
										},
										{
											"source": {
												"name": "Multiperiod Accounting End Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 154
											}
										},
										{
											"source": {
												"name": "Multiperiod Accounting Accrual Account",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 155
											}
										},
										{
											"source": {
												"name": "Project Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 156
											}
										},
										{
											"source": {
												"name": "Task Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 157
											}
										},
										{
											"source": {
												"name": "Work Type",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 158
											}
										},
										{
											"source": {
												"name": "Contract Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 159
											}
										},
										{
											"source": {
												"name": "Contract Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 160
											}
										},
										{
											"source": {
												"name": "Funding Source Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 161
											}
										},
										{
											"source": {
												"name": "Funding Source Number",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 162
											}
										},
										{
											"source": {
												"name": "Requester Email Address",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 163
											}
										},
										{
											"source": {
												"name": "RCV Transaction Id",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 164
											}
										},
										{
											"source": {
												"name": "ENDROW",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 165
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "df_camsis_ap_invoices_raw_table_dataset",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "*"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "df_softco_ap_invoice_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "csv",
										"file_name": "ApInvoiceLinesInterface.csv"
									}
								}
							]
						},
						{
							"name": "File name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "zip_both_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": {
									"value": "@activity('zip_both_csv').output.data.zip_file",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Mark as Processed",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Load to Interface table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "\n    UPDATE [dbo].[tb_generic_ap_invoice_lines_staging]\n    SET processed_bit = 1\n    WHERE processed_bit = 0 OR processed_bit IS NULL\n\n    UPDATE [dbo].[tb_generic_ap_invoice_header_staging]\n    SET processed_bit = 1\n     WHERE processed_bit = 0 OR processed_bit IS NULL",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "upload_to_ucm",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "base64encode",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ftp_shared_upload_to_ucm_pl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"file_name": {
										"value": "@variables('file_name')",
										"type": "Expression"
									},
									"document_account": "fin$/payables$/import$",
									"base64_content": {
										"value": "@activity('base64encode').output.data.encoded_string",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "document_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "upload_to_ucm",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "document_id",
								"value": {
									"value": "@activity('upload_to_ucm').output.pipelineReturnValue.document_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Load to Interface table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "document_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ftp_shared_submit_ess_job",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"payload": {
										"value": "{\n  \"OperationName\": \"submitESSJobRequest\",\n  \"JobPackageName\": \"/oracle/apps/ess/financials/commonModules/shared/common/interfaceLoader\",\n  \"JobDefName\": \"InterfaceLoaderController\",\n  \"ESSParameters\": \"@{concat('1,', variables('document_id'), ',N,N,Null')}\"\n}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Load data to AP table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load to Interface table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ftp_shared_submit_ess_job",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"payload": {
										"value": "{\n  \"OperationName\": \"submitESSJobRequest\",\n  \"JobPackageName\": \"oracle/apps/ess/financials/payables/invoices/transactions\",\n  \"JobDefName\": \"APXIIMPT\",\n  \"ESSParameters\": \"@{concat('#NULL', ',', '300000014469089', ',N,', '#NULL', ',', '#NULL', ',', '#NULL', ',1000,SoftCo,', '#NULL', ',N,Y,300000014466368,','#NULL', ',1')}\",\n  \"CallbackURL\": \"\"\n}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "business_notification _log",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "File name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_business_notification_upsert]",
								"storedProcedureParameters": {
									"BusinessObject": {
										"value": "AP",
										"type": "String"
									},
									"DocumentId": {
										"value": null,
										"type": "Int32"
									},
									"Failure": {
										"value": null,
										"type": "Int32"
									},
									"FilePath": {
										"value": null,
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessIdBaseTable": {
										"value": null,
										"type": "Int32"
									},
									"ProcessIdInterface": {
										"value": null,
										"type": "Int32"
									},
									"Status": {
										"value": "Zipped Successfully",
										"type": "String"
									},
									"Success": {
										"value": null,
										"type": "Int32"
									},
									"To": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UCM Load Log",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "document_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_business_notification_upsert]",
								"storedProcedureParameters": {
									"BusinessObject": {
										"value": "AP",
										"type": "String"
									},
									"DocumentId": {
										"value": {
											"value": "@variables('document_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Failure": {
										"value": null,
										"type": "Int32"
									},
									"FilePath": {
										"value": null,
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessIdBaseTable": {
										"value": null,
										"type": "Int32"
									},
									"ProcessIdInterface": {
										"value": null,
										"type": "Int32"
									},
									"Status": {
										"value": "Load To UCM Successful",
										"type": "String"
									},
									"Success": {
										"value": null,
										"type": "Int32"
									},
									"To": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load To Interface Log",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Load to Interface table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_business_notification_upsert]",
								"storedProcedureParameters": {
									"BusinessObject": {
										"value": "AP",
										"type": "String"
									},
									"DocumentId": {
										"value": {
											"value": "@variables('document_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Failure": {
										"value": null,
										"type": "Int32"
									},
									"FilePath": {
										"value": null,
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessIdBaseTable": {
										"value": null,
										"type": "Int32"
									},
									"ProcessIdInterface": {
										"value": {
											"value": "@activity('Load to Interface table').output.pipelineReturnValue.process_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Status": {
										"value": {
											"value": "@concat(activity('Load to Interface table').output.pipelineReturnValue.job_name,': ', activity('Load to Interface table').output.pipelineReturnValue.final_status)",
											"type": "Expression"
										},
										"type": "String"
									},
									"Success": {
										"value": null,
										"type": "Int32"
									},
									"To": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load To Base Table Log",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Load data to AP table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_business_notification_upsert]",
								"storedProcedureParameters": {
									"BusinessObject": {
										"value": "AP",
										"type": "String"
									},
									"DocumentId": {
										"value": {
											"value": "@variables('document_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Failure": {
										"value": null,
										"type": "Int32"
									},
									"FilePath": {
										"value": null,
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessIdBaseTable": {
										"value": {
											"value": "@activity('Load data to AP table').output.pipelineReturnValue.process_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ProcessIdInterface": {
										"value": {
											"value": "@activity('Load to Interface table').output.pipelineReturnValue.process_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Status": {
										"value": {
											"value": "@concat(activity('Load data to AP table').output.pipelineReturnValue.job_name,': ', activity('Load data to AP table').output.pipelineReturnValue.final_status)",
											"type": "Expression"
										},
										"type": "String"
									},
									"Success": {
										"value": "1",
										"type": "Int32"
									},
									"To": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "uis_df_sql_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "zip_both_csv",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "InvoiceLines_sql_to_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Invoices_sql_to_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "zip",
								"body": {
									"value": "{\n  \"source_paths\": [\"softco-to-fusion/csv/ApInvoicesInterface.csv\",\"softco-to-fusion/csv/ApInvoiceLinesInterface.csv\"],\n  \"target_path\": \"@{concat('softco-to-fusion/zip/', formatDateTime(utcNow(), 'yyyyMMdd'), '/softco_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.zip')}\"\n}",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "uis_shared_process_function",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "base64encode",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "File name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "base64Encode",
								"body": {
									"value": "{\n    \"file_path\": \"@{concat('softco-to-fusion/zip/',formatDateTime(utcNow(), 'yyyyMMdd'),'/', variables('file_name'))}\"\n}",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "uis_shared_process_function",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Logging Start",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Check Invoices Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Check Invoice Lines Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_business_notification_upsert]",
					"storedProcedureParameters": {
						"BusinessObject": {
							"value": "SoftCo AP Invoice",
							"type": "String"
						},
						"DocumentId": {
							"value": null,
							"type": "Int32"
						},
						"Failure": {
							"value": null,
							"type": "Boolean"
						},
						"FilePath": {
							"value": null,
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessIdBaseTable": {
							"value": null,
							"type": "Int32"
						},
						"ProcessIdInterface": {
							"value": null,
							"type": "Int32"
						},
						"Status": {
							"value": "in-progress",
							"type": "String"
						},
						"Success": {
							"value": null,
							"type": "Boolean"
						},
						"To": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "uis_df_sql_linked_service",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"file_name": {
				"type": "String"
			},
			"document_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "df_softco_to_fusion_ap_invoice"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-27T11:30:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}